.container {
  background-color: #0c0a15;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-inline: 100px;
  max-width: 1440px;
  margin: 0 auto;
  padding-block: 40px;
  align-items: flex-start;
  @media screen and (max-width: 768px) {
    padding-inline: 30px;
    flex-direction: column;
    gap: 40px;
    padding-top: 80px;
    align-items: center;
  }
}

.leftside {
  img {
    width: 250px;
  }
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 37px;
  p {
    color: #b3b3b3;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}

.rightside {
  display: flex;
  gap: 10px;
  align-items: center;
}

.rightTop {
  display: flex;
  gap: 5px;
  align-items: center;
  h5 {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
  }
}

.rightBottom {
  border-radius: 50px;
  border: 2px solid #b078ff;
  padding-block: 10px;
  padding-inline: 20px;
  p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
  }
}
