.container {
  background: transparent;
  padding-top: 120px;
  @media screen and (max-width: 768px) {
    padding-top: 80px;
  }
}

.content {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.numbers {
  border-radius: 32px;
  background: rgba(61, 84, 77, 0.24);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  padding-inline: 120px;
  margin-inline: 100px;
  padding-block: 64px;
  gap: 100px;
  width: 100%;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-inline: 24px;
    margin-inline: 0;
    gap: 40px;
    width: 80%;
  }
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  h2 {
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.32px;
  }
  p {
    color: #8336ff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}
