.container {
  background: transparent;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 100px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-inline: 30px;
    gap: 50px;
  }
}

.leftside {
  border-radius: 36px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  padding-inline: 33px;
  padding-top: 75px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 35%;
  @media screen and (max-width: 768px) {
    width: 100%;
    gap: 40px;
    padding-top: 50px;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  input {
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding-block: 15px;
    color: #fff;
    width: 100%;
    background: none;
    padding-inline: 15px;
  }
  textarea {
    padding-inline: 15px;
    padding-block: 15px;
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    background: none;
    min-height: 100px;

    color: #fff;
  }
}

.button {
  display: flex;
  justify-content: flex-end;
  button {
    cursor: pointer;
    border-radius: 64px;
    background: transparent;
    border: 2px solid #8336ff;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 25px;
    padding-block: 12px;
    gap: 15px;
    overflow: hidden;
    position: relative;
    transition: color 0.4s ease-in-out;
    @media screen and (max-width: 768px) {
      padding-inline: 20px;
      padding-block: 10px;
      font-size: 14px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #d24715;
      z-index: 0;
      transition: width 0.4s ease-in-out;
    }

    &:hover::before {
      width: 100%;
    }

    &:hover {
      border-color: #d24715;
      p {
        color: #fff;
        z-index: 9;
      }
    }

    & > * {
      position: relative;
      z-index: 1;
    }
  }
}

.rightside {
  display: flex;
  flex-direction: column;
  width: 50%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  h2 {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: 34px;
    }
  }
  h5 {
    color: #adb2b1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: 14px;
    }
  }
}

.hr {
  margin-top: 30px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to bottom right, #8336ff 0%, #b078ff 50%) bottom
      right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #8336ff 0%, #b078ff 50%) bottom left / 50%
      50% no-repeat,
    linear-gradient(to top left, #8336ff 0%, #b078ff 50%) top left / 50% 50%
      no-repeat,
    linear-gradient(to top right, #8336ff 0%, #b078ff 50%) top right / 50% 50%
      no-repeat;
}

.logo {
  display: flex;
  align-items: center;
  h4 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
    letter-spacing: -0.6px;
  }
}
