.container {
  width: 100%;
}
.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-inline: 100px;
  max-width: 1440px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    padding-inline: 30px;
    flex-direction: column;
  }
}

.leftside {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  h1 {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: 32px;
    }
  }
  h3 {
    color: #8336ff;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: 28px;
    }
  }
  h4 {
    color: #fff;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: 28px;
      line-height: 36px;
    }
  }
  h5 {
    color: #adb2b1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: 14px;
    }
  }
  p {
    color: #8336ff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
  button {
    cursor: pointer;
    max-width: 200px;
    white-space: nowrap;
    border-radius: 64px;
    background: transparent;
    border: 2px solid #8336ff;
    color: #8336ff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 25px;
    padding-block: 12px;
    gap: 15px;
    overflow: hidden;
    position: relative;
    transition: color 0.4s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #d24715;
      z-index: -1;
      transition: width 0.4s ease-in-out;
    }

    &:hover::before {
      width: 100%;
    }

    &:hover {
      color: #fff;
      border-color: #d24715;
    }

    & > * {
      position: relative;
      z-index: 1;
    }
  }
}

.rightside {
  width: 60%;
  @media screen and (max-width: 768px) {
    width: 100%;
    transform: translateX(-50%);
  }
}

.background {
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  background: rgba(61, 84, 77, 0.24);
  backdrop-filter: blur(8px);
  padding-inline: 20px;
  padding-block: 50px;
  gap: 30px;
}
