.container {
  background: transparent;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 100px;
  img {
    cursor: pointer;
  }
  padding-block: 100px;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    padding-block: 50px;
    padding-inline: 80px;
  }
}

.star {
  position: absolute;
  left: 20%;
  bottom: 5%;
}

.content img {
  transition: filter 0.3s ease; // Smooth transition for the hover effect
}

.content img:hover {
  filter: brightness(0) invert(1); // Change the logo color to white
}
