.container {
  background: transparent;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
  align-items: left;
  @media screen and (max-width: 768px) {
    padding-inline: 30px;
    align-items: center;
  }
}

.top {
  display: flex;
  gap: 10px;
  align-items: center;
  h4 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
}

.middle1 {
  display: flex;
  flex-direction: column;
  align-items: left;

  h1 {
    color: #fff;
    text-align: left;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -1.4px;
    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: 34px;
      line-height: 38px;
    }
  }
}

.middle2 {
  @media screen and (max-width: 768px) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 20px;
  padding-bottom: 40px;
  h5 {
    color: #adb2b1;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
.middle3 {
  @media screen and (min-width: 768px) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  @media screen and (max-width: 768px) {
    padding-bottom: 30px;
  }

  h5 {
    color: #adb2b1;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 80%;
    @media screen and (max-width: 768px) {
      text-align: center;
      width: 90%;
    }
  }
}

.star {
  position: absolute;
  left: 20%;
  top: 19%;
}

.bottom {
  button {
    cursor: pointer;
    border-radius: 64px;
    background: transparent;
    border: 2px solid #8336ff;
    color: #8336ff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 25px;
    padding-block: 12px;
    gap: 15px;
    overflow: hidden;
    position: relative;
    transition: color 0.4s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #d24715;
      z-index: -1;
      transition: width 0.4s ease-in-out;
    }

    &:hover::before {
      width: 100%;
    }

    &:hover {
      color: #fff;
      border-color: #d24715;
    }

    & > * {
      position: relative;
      z-index: 1;
    }
  }
}
.text {
  display: inline-block;
  font-size: 3rem;
  line-height: 1.205;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.text__first,
.text__second {
  position: relative;
}

.text__word {
  opacity: 0;
  display: inline-block;
}

.text__firstBg,
.text__secondBg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transform-origin: left;
  transform: scaleX(0);
}

.text__firstBg {
  background-color: #8336ff;
}

.text__secondBg {
  background-color: #8336ff;
}
