.container {
  background: transparent;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 100px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 768px) {
    padding-inline: 30px;
    flex-direction: column;
    padding-top: 80px;
    gap: 40px;
  }
}

.leftside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.48px;
    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: 34px;
      line-height: 38px;
    }
  }
  h5 {
    color: #adb2b1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 80%;
    @media screen and (max-width: 768px) {
      text-align: center;
      width: 100%;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
  h5 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    @media screen and (max-width: 768px) {
      width: 30%;
    }
  }
}

.rightside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.rightside .spline {
  width: 100%;
  height: 100%;
  transform: scale(0.95);
  transform-origin: center;
  max-width: 100%;
  max-height: 100%;
}
